apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.k8sName }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: gateway.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.k8sName }}
                port:
                  number: {{ .Values.service.port }}
