global:
  keycloak:
    internalUrl: "http://keycloak"
    port: "8080"
    realm: "bank-realm"

secrets:
  keycloakAdminPassword: "admin"
  internalClientSecret: "0AU6T8CNGErz3mRskLiJ2u5Mtdud1iqz"
  userManagementClientSecret: "TleHPOuxA2JvlmhXmexYFCjgxDE4ZkIJ"
  accountDbPassword: "pass"
  cashDbPassword: "pass"
  transferDbPassword: "pass"
  exchangeDbPassword: "pass"

account-postgres:
  image:
    tag: "latest"
    digest: "sha256:2a7dbbb704430870c9f4e76ccf2a532dd0c6be99774d0cb064e0e5b9c6889db1"
  fullnameOverride: yandex-sprint-10-account-postgres
  auth:
    username: user
    password: pass
    database: db_account

exchange-postgres:
  image:
    tag: "latest"
    digest: "sha256:2a7dbbb704430870c9f4e76ccf2a532dd0c6be99774d0cb064e0e5b9c6889db1"
  fullnameOverride: yandex-sprint-10-exchange-postgres
  auth:
    username: user
    password: pass
    database: db_exchange

cash-postgres:
  image:
    tag: "latest"
    digest: "sha256:2a7dbbb704430870c9f4e76ccf2a532dd0c6be99774d0cb064e0e5b9c6889db1"
  fullnameOverride: yandex-sprint-10-cash-postgres
  auth:
    username: user
    password: pass
    database: db_cash

transfer-postgres:
  image:
    tag: "latest"
    digest: "sha256:2a7dbbb704430870c9f4e76ccf2a532dd0c6be99774d0cb064e0e5b9c6889db1"
  fullnameOverride: yandex-sprint-10-transfer-postgres
  auth:
    username: user
    password: pass
    database: db_transfer


keycloak:
  postgresql:
    enabled: true
    auth:
      password: "pass"
    image:
      tag: "latest"
      digest: "sha256:2a7dbbb704430870c9f4e76ccf2a532dd0c6be99774d0cb064e0e5b9c6889db1"

  image:
    registry: docker.io
    repository: bitnamilegacy/keycloak
    tag: "26.3.3-debian-12-r0"

  fullnameOverride: yandex-sprint-10-keycloak

  auth:
    adminUser: admin
    adminPassword: admin

  service:
    ports:
      http: 8080

  extraEnvVars:
    - name: KEYCLOAK_LOG_LEVEL
      value: "DEBUG"
    - name: KC_HEALTH_ENABLED
      value: "true"
    - name: KC_METRICS_ENABLED
      value: "true"
    - name: KC_HTTP_ENABLED
      value: "true"
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_HOSTNAME_STRICT_HTTPS
      value: "false"
    - name: KEYCLOAK_EXTRA_ARGS
      value: "--import-realm --verbose"
    - name: KC_PROXY_HEADERS
      value: "xforwarded"
    - name: KC_HOSTNAME
      value: "keycloak.local"

  # ===== IMPORT REALM =====
  extraVolumes:
    - name: realm-import
      configMap:
        name: keycloak-import
    - name: realm-import-tmp
      emptyDir: {}

  extraVolumeMounts:
    - name: realm-import-tmp
      mountPath: /opt/bitnami/keycloak/data/import

  initContainers:
    - name: copy-realm
      image: busybox:1.36
      command: ["/bin/sh","-c"]
      args:
        - |
          set -eux
          echo "=== /cm ==="
          ls -la /cm
          echo "=== target before ==="
          ls -la /opt/bitnami/keycloak/data/import || true
          cp -v /cm/* /opt/bitnami/keycloak/data/import/
          echo "=== target after ==="
          ls -la /opt/bitnami/keycloak/data/import
      volumeMounts:
        - name: realm-import
          mountPath: /cm
          readOnly: true
        - name: realm-import-tmp
          mountPath: /opt/bitnami/keycloak/data/import

consul:
  k8sName: yandex-sprint-10-consul
  image:
    repository: hashicorp/consul
    tag: "1.21.4"
    pullPolicy: IfNotPresent
  service:
    port: 8500



account:
  k8sName: yandex-sprint-10-account
  replicaCount: 1
  image:
    repository: yandex-sprint-10-account
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_ACCOUNT_POSTGRES_DB_PORT: "5432"
    YANDEX_SPRINT_10_ACCOUNT_POSTGRES_DB_NAME: "db_account"
    YANDEX_SPRINT_10_ACCOUNT_POSTGRES_DB_USER_NAME: "user"
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
    YANDEX_SPRINT_10_KEYCLOAK_USER_MANAGEMENT_CLIENT_ID: "user-management-client-id"
  secretEnv:
    - name: YANDEX_SPRINT_10_ACCOUNT_POSTGRES_DB_USER_PASSWORD
      secretKey: YANDEX_SPRINT_10_ACCOUNT_POSTGRES_DB_USER_PASSWORD
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
    - name: YANDEX_SPRINT_10_KEYCLOAK_USER_MANAGEMENT_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_USER_MANAGEMENT_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


blocker:
  k8sName: yandex-sprint-10-blocker
  replicaCount: 1
  image:
    repository: yandex-sprint-10-blocker
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


cash:
  k8sName: yandex-sprint-10-cash
  replicaCount: 1
  image:
    repository: yandex-sprint-10-cash
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_CASH_POSTGRES_DB_PORT: "5432"
    YANDEX_SPRINT_10_CASH_POSTGRES_DB_NAME: "db_cash"
    YANDEX_SPRINT_10_CASH_POSTGRES_DB_USER_NAME: "user"
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
  secretEnv:
    - name: YANDEX_SPRINT_10_CASH_POSTGRES_DB_USER_PASSWORD
      secretKey: YANDEX_SPRINT_10_CASH_POSTGRES_DB_USER_PASSWORD
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


exchange:
  k8sName: yandex-sprint-10-exchange
  replicaCount: 1
  image:
    repository: yandex-sprint-10-exchange
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_EXCHANGE_POSTGRES_DB_PORT: "5432"
    YANDEX_SPRINT_10_EXCHANGE_POSTGRES_DB_NAME: "db_exchange"
    YANDEX_SPRINT_10_EXCHANGE_POSTGRES_DB_USER_NAME: "user"
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
  secretEnv:
    - name: YANDEX_SPRINT_10_EXCHANGE_POSTGRES_DB_USER_PASSWORD
      secretKey: YANDEX_SPRINT_10_EXCHANGE_POSTGRES_DB_USER_PASSWORD
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


exchange-generator:
  k8sName: yandex-sprint-10-exchange-generator
  replicaCount: 1
  image:
    repository: yandex-sprint-10-exchange-generator
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
  secretEnv:
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


front-ui:
  k8sName: yandex-sprint-10-front-ui
  replicaCount: 1
  image:
    repository: yandex-sprint-10-front-ui
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
  secretEnv:
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


gateway:
  k8sName: yandex-sprint-10-gateway
  replicaCount: 1
  image:
    repository: yandex-sprint-10-gateway
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 9090
  env:
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
    YANDEX_SPRINT_10_KEYCLOAK_USER_CLIENT_ID: "user-client-id"
  secretEnv:
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


notification:
  k8sName: yandex-sprint-10-notification
  replicaCount: 1
  image:
    repository: yandex-sprint-10-notification
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness


transfer:
  k8sName: yandex-sprint-10-transfer
  replicaCount: 1
  image:
    repository: yandex-sprint-10-transfer
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  service:
    port: 8080
  env:
    YANDEX_SPRINT_10_TRANSFER_POSTGRES_DB_PORT: "5432"
    YANDEX_SPRINT_10_TRANSFER_POSTGRES_DB_NAME: "db_transfer"
    YANDEX_SPRINT_10_TRANSFER_POSTGRES_DB_USER_NAME: "user"
    YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_ID: "service-client-id"
    YANDEX_SPRINT_10_KEYCLOAK_REALM: "bank-realm"
  secretEnv:
    - name: YANDEX_SPRINT_10_TRANSFER_POSTGRES_DB_USER_PASSWORD
      secretKey: YANDEX_SPRINT_10_TRANSFER_POSTGRES_DB_USER_PASSWORD
    - name: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
      secretKey: YANDEX_SPRINT_10_KEYCLOAK_INTERNAL_CALL_CLIENT_SECRET
  probes:
    startupPath: /actuator/health/liveness
    readinessPath: /actuator/health/readiness
    livenessPath: /actuator/health/liveness
