spring:
  application:
    name: notification
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://yandex-sprint-10-keycloak:8080/realms/${YANDEX_SPRINT_10_KEYCLOAK_REALM}/protocol/openid-connect/certs
